<div class="hero-unit">
	<h1>Welcome to my sick app!</h1>
	<p>
		Hell yeah. I am a coder now.
		<%= link_to "Check out my site", "http://joecaseshowcase.com" %> and see more.
	</p>

	<p> 
		<%= link_to "Sign up now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
