<h1>Welcome to my sick app!</h1>
<p>
	Hell yeah. I am a coder now.
	<a href="http://joecaseshowcase.com"> Check me out.</a>
</p>

<p> 
	<a href="#">Sign Up Now!</a>
</p>

<div class="footer">
	<small>
		<a href="http://joecaseshowcase.com"> Check me out.</a>
		by joe case
	</small>
</div>


